html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: #eee;

  flex-direction: column;
  font-size: 1.5rem;
}

// main {
//   color: #fff6d5;
//   font-family: sans-serif;
//   text-align: center;
// }
.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #ddd;
  width: 100%;
  border-bottom: 3px solid #555;
  font-weight: bold;
  color: purple;
}

.home {
  height: 80vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.home button {
  margin: 150px;
  padding: 30px 50px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #ddd;
  font-size: 2rem;
  cursor: pointer;
}
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.signin h1 {
  text-align: center;
  color: #555;
  margin-bottom: 10px;
}
.signin div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signin div p {
  margin: 10px 0;
  color: #444;
}
.signin div input {
  width: 20%;
  padding: 5px;
  border-radius: 8px;
  border: solid 1px #444;
}
.signin button {
  width: 25%;
  margin-top: 40px;
  padding: 10px 0;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.signup h1 {
  text-align: center;
  color: #555;
  margin-bottom: 10px;
}
.signup div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signup div p {
  margin: 10px 0;
  color: #444;
}
.signup div input {
  width: 20%;
  padding: 5px;
  border-radius: 8px;
  border: solid 1px #444;
}
.signup button {
  width: 25%;
  margin-top: 40px;
  padding: 10px 0;
}
.primary-button {
  border: solid 3px #444;
  border-radius: 10px;
  background-color: #444;
  color: #ddd;
  font-size: 1.2rem;
}
.secondary-button {
  border: solid 3px #444;
  border-radius: 10px;
  background-color: #ddd;
  color: #444;
  font-size: 1.2rem;
}

.stream-view {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  justify-content: space-between;
}

.video-zone {
  display: flex;
  flex-direction: column;
  width: 68%;
}

.video-zone video {
  width: 100%;
}

.video-zone button {
  width: 15%;
  margin: 10px;
}

.video-zone h1 {
  color: #444;
}
.user-info {
  display: flex;
  border-radius: 10px;
  border: 1px solid #aaa;
  width: 80%;
  padding: 10px;
  align-items: center;
  margin-left: 10px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border: 1px solid #444;
  border-radius: 30px;
  background-color: #ade;
  margin-right: 20px;
}

.user-info span {
  color: #444;
}

.comment-zone {
  width: 28%;
  border-radius: 10px;
  border: solid 1px #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 680px;
}
.comment-zone p {
  margin: 10px 0;
  width: 100%;
}
p.comment-column-title {
  margin: 0;
  padding: 10px 0;
  background-color: #aaa;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #eee;
}
.comment-zone textarea {
  width: 99%;
  height: 83px;
  resize:none;
  border: none;
}
.comment-zone button {
  width: 100%;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #444;
  color: #ddd;
}
.comment-list {
  border: solid 1px #aaa;
  width: 100%;
  height: 80%;
  overflow-y: hidden;
}

.comment-component {
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}
.comment-component img {
  width: 40px;
  height: 40px;
  border: 1px solid #444;
  border-radius: 30px;
  background-color: #ade;
  margin: 8px 20px 8px 8px;
}
.comment-user-info {
  display: flex;
  align-items: center;
}
.comment-user-info span {
  color: #444;
}
.comment-component p {
  margin: 5px;
}

// .logo {
//   height: 20em;
// }

// .heart:after {
//   content: "❤️";

//   font-size: 1.75em;
// }

// h1 + .subtitle {
//   display: block;
//   margin-top: -1em;
// }
